@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --bg-green: #38AF90;
    --bg-rose: #DD7E92;
    --bg-white: #fff;
    --bg-lightgray: #F0F0F0;
    --bg-gray: #797979;
    --bg-darkgray: #383838;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    min-width: 310px;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

.container {
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 10px
}

.section-container {
    padding: 40px 0px;
}

header {
    background-color: var(--bg-green);
    height: 90px;
    box-shadow: 0px 4px 6px rgba(38, 38, 38, 0.8);
    display: flex;
}

nav {
    color: var(--bg-white);
}

nav h1 {
    font-size: 1.125rem;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: none;
}

main {
    min-height: calc(100vh - 302px);
}

.news-title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--bg-gray);
}

.news-card {
    background-color: var(--bg-lightgray);
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 12px;
    margin-bottom: 28px;
}

.news-card h3 {
    color: var(--bg-green);
    font-size: 1rem;
    margin-top: 4px;
}

.news-card h3 {
    color: var(--bg-green);
    font-size: 1rem;
    margin-top: 4px;
}

.news-card h4 {
    color: var(--bg-gray);
    font-size: 0.75rem;
}

.breakline {
    border-bottom: 1px solid var(--bg-green);
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.news-date {
    color: var(--bg-green);
    font-size: 10px;
}

.news-content {
    color: var(--bg-gray);
    font-size: 10px;
    margin-top: 12px;
    padding-bottom: 14px;
}

.news-card a {
    color: var(--bg-rose);
    font-size: 14px;
    font-weight: 700;
}

.button {
    color: var(--bg-white);
    background-color: var(--bg-rose);
    font-size: 18px;
    font-weight: 700;
    width: 244px;
    height: 67px;
    border-radius: 8px;
    border: none;
    padding: 20px auto;
    margin-bottom: 20px;
    cursor: pointer;
 }

.button:hover {
    color: var(--bg-rose);
    background-color: var(--bg-white);
    border: 2px solid var(--bg-rose);
 }

.button:active {
    color: var(--bg-white);
    background-color: var(--bg-rose);
    border: none;
}

.button-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#games {
    background-color: var(--bg-lightgray);
}

#games h2 {
    color: var(--bg-green);
    font-size: 1.5rem;
    text-align: center;
}

.games-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.games-card {
    width: 300px;
    margin: 28px 14px 0px 14px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-white);
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.games-card img {
    border-radius: 8px 8px 0px 0px;
}

.games-info {
    height: 158px;
    color: var(--bg-gray);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.games-info h3 {
    margin-top: 28px;
    font-size: 18px;
}

.games-info p {
    font-size: 14px;
}

.games-info span {
    color: var(--bg-green);
    font-weight: 700;
}

.game-rating {
    color: var(--bg-green);
    font-size: 36px;
    margin-top: 12px;
}

#subscribe h2 {
    color: var(--bg-gray);
    font-size: 1.5rem;
    text-align: center;
}

.form-card {
    background-color: var(--bg-lightgray);
    color: var(--bg-gray);
    border-radius: 8px;
    padding: 50px 10px 10px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    align-items: center;
}

form-card-flex {
    
}

footer {
    background-color: var(--bg-darkgray);
    height: 302px;
}